*{
    margin: 0;
    padding: 0;
 
 
    
}
.container{
    padding: 10px;
    top: 100px;
}
.container img{
    height: 250px;
  
}
.card-text{
    color: blue;
}
h4{
    text-align: center;
}
.img img{
width: 1467px;
}
.rate{
    color:rgb(0, 255, 17);
}
/* offer css */
.offers{

    padding-top: 1.75rem;
}
.offers .offer-box .offer-image::before{
    position: absolute;
    content: '';
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0)0%, rgba(255,255,255,0.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0)0%, rgba(255,255,255,0.3) 100%);
    transform: skewX(-25deg);
}
.offers .offer.box .offer-image img{
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offers .offer-box:hover .offer-image::before{
    animation:effect_shine 1s;
}
@keyframes effect_shine{
    100%{
        left: 150%;
    }
}
.offers .offer-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.offers .offer-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}
.offers .offer-box .offer-info{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;

}
.offers .offer-box .offer-info .heading-bigger{
    font-size: 1.375rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 0;
    color: white;
}
.offers .offer-box .offer-info .offer-title-1{
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 0;
    letter-spacing: 2px;
}